@charset "UTF-8";
html, body{
	font-size: 14px;
	background-color: #fafafa;
}
#map{
	width: 100%;
	height: 240px;
}
h1{
	font-size: 150%;
	color: rgba(58,183,245,1);
}
table{
    border-collapse: collapse;
}
td,th{
    padding: 8px 20px;
    vertical-align: middle;
    border: 1px solid rgba(58,183,245,1);
}
th{
	color: #fff;
	background: rgba(58,183,245,0.9);
}
td{
	width: 120px;
	text-align: right;
}